.feed-wrapper {
    overflow: scroll;
    scrollbar-width: none;
    position: relative;
    z-index: 1;

    .head {
        margin: 16px;
        width: 328px;
        height: 60px;
        display: flex;
        align-items: center;
        gap: 10px;

        .account img {
            height: 50px;
            width: 50px;
            cursor: pointer;
        }

        .account img:hover{
            transform: scale(1.1);
        }

        .welc {
            width: 115px;
            height: 34px;

            p {
                font-size: 10px;
                font-weight: 400;
                line-height: 12.4px;
            }

            #user-name {
                font-size: 16px;
                font-weight: 600;
                line-height: 19.84px;
            }
        }
    }
}

.head .logout {
    width: 60px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.541);
    border-radius: 36px;
    padding: 4px;
    color: rgba(0, 0, 0, 0.822);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 0.4s ease, color 0.4s ease;
    margin-left: 70px; /* Pushes the losgout button to the right end */
}

.logout:hover {
    background-color: black;
    transform: scale(1.1);
    color: white;
}


.feeds-wrap {
    margin: 16px;

    .title {
        width: 68px;
        height: 28px;
        top: 97px;
        font-size: 24px;
        font-weight: 800;
        line-height: 28.06px;
        color: rgba(0, 0, 0, 1);
    }

    .feed-rec {
        margin-top: 20px;
        width: 328px;
        height: 335px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 26px;
        background-color: rgba(247, 235, 255, 1);
        padding: 10px;
        overflow: hidden;

        .feed-head {
            display: flex;
            gap: 5px;
            align-items: center;

            .account img {
                height: 40px;
                width: 40px;
                cursor: pointer;
                border-radius: 50%;
            }

            #user-name {
                width: 43px;
                height: 19px;
                font-size: 16px;
                font-weight: 600;
                line-height: 18.7px;
                color: rgba(0, 0, 0, 1);
            }

            #time {
                width: 65px;
                height: 12px;
                font-size: 10px;
                font-weight: 400;
                line-height: 12.4px;
                color: rgba(0, 0, 0, 1);
            }

        }

        .content p {
            width: 304px;
            height: 45px;
            font-size: 12px;
            font-weight: 400;
            line-height: 14.88px;
            color: rgba(0, 0, 0, 1);
            overflow: hidden;

            span {
                color: blue;
            }
        }

        .post {
            margin: 10px 0;
            display: flex;
            height: 168px;
            justify-content: center;
            gap: 5px;

            img {
                width: 300px;
                border-radius: 12px;
            }
        }

        .actions {
            display: flex;
            justify-content:space-between;
            align-items: center;
            

            .like {
                width: 38px;
                height: 20px;
                top: 304px;
                left: 12px;
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;

                svg {
                    width: 17px;
                    height: 17px;
                    /* color: rgba(217, 91, 127, 1); */
                }

                span {
                    width: 15px;
                    height: 15px;
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 14.88px;
                    color: rgba(217, 91, 127, 1);
                }
            }

            .like svg:hover {
                transform: scale(1.05);
            }

            .share {
                width: 92px;
                height: 30px;
                border-radius: 30px;
                background-color: rgba(0, 0, 0, 0.07);
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                cursor: pointer;

                svg {
                    width: 12px;
                    height: 12px;
                }

                p {
                    width: 39px;
                    height: 16px;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 16.37px;
                }
            }

            .share:hover {
                background-color: rgba(0, 0, 0, 0.1);
                transform: scale(0.99);
            }
        }
    }

    .feed-rec:hover {
        transform: scale(1.02);
    }
}

.feed-wrapper.active {

    position: relative;
    pointer-events: none;

    .feed-rec{
        filter: opacity(50%);
    }

    .logout{
        filter: opacity(50%);
    }
   

    img {     
        opacity: 0.5;
    }
}

.share-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    pointer-events: auto;
    background-color: rgba(255, 255, 255, 1);
    
}

.feed-wrapper.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);  
    z-index: 10;
    pointer-events: none;
}