@import "@fontsource/karla";
*,:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: karla;
}

.App-wrappers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
} 

.pages {
    width: 360px;
    height: 800px;
    border: 1px solid black;
}