.login-wrap {
    background: rgba(255, 255, 255, 1);
    position: relative;
    overflow: hidden;
}

.bg-cover {
    width: 392px;
    height: 756px;
    top: -142px;
    left: -10px;
}

.rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:504px;
    width: 360px;
    height: 360px;
    border-radius: 63px;
    background: rgba(255, 255, 255, 1);
    row-gap: 91px;

    .vibe {
        width: 286px;
        height: 62px;
        margin-top: 35px;
    }

    .google {
        width: 232.59px;
        height: 50px;
        border-radius: 26px;
        cursor: pointer;
    }
}