.login-wrap {
    background: rgba(255, 255, 255, 1);
    position: relative;
    overflow: hidden;
}

.bg-cover {
    width: 392px;
    height: 756px;
    top: -142px;
    left: -10px;
}

.rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:504px;
    width: 360px;
    height: 360px;
    border-radius: 63px;
    background: rgba(255, 255, 255, 1);
    row-gap: 91px;

    .vibe {
        width: 286px;
        height: 62px;
        margin-top: 35px;
    }

    .google button {
        width: 232.59px;
        height: 50px;
        border-radius: 26px;
        cursor: pointer;
        background-color: rgba(41, 41, 41, 1);
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        svg {
            width: 18px;
            height: 18px;
        }

        span {
            width: 163px;
            height: 22px;
            font-size: 16px;
            font-weight: 700;
            line-height: 22.4px;
            color: rgba(255, 255, 255, 1);
        }
    }
    .google button:hover {
        transform: scale(1.1);
    }
}