.profile-wrapper {
    overflow: auto;
    scrollbar-width: none;
    position:relative;


    .back {
        position: sticky;
        width: 32px;
        height: 32px;
        top: 25px;
        left: 16px;
        color: white;
        cursor: pointer;
        z-index: 1000;

        svg {
            color: white;
        }
        
        span {
            width: 111px;
            height: 23px;
            font-weight: 700;
            font-size: 20px;
            line-height: 23.38px;
            margin-left: 16px;
            vertical-align:bottom;
            cursor: default;
        }
    }

    
    .banner {
            background-color: rgba(255, 255, 255, 1);
            img{
            width: 360px;
            height: 179px;
            position: relative;
            border-radius: 0 0 20px 20px;
            top: -27px;
            cursor: pointer;
        }
        

        #dp {
            img{
                width: 112px;
                height: 112px;
                position: absolute;
                top: 102px;
                left: 16px;
                border-radius: 50%;
                cursor: pointer;
            }
        }

        .edit {
            position: absolute;
            width: 208px;
            height: 32px;
            font-size: 12px;
            font-weight: 700;
            font-family: karla;
            color: rgb(0, 0, 0, 1);
            top: 180px;
            left: 136px;
            border: 1px solid rgba(0, 0, 0, 0.34);
            border-radius: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 1);
            cursor: pointer;
        }

        .edit:hover{
            background-color: black;
            color: white;
        }
        
    }

    .bio {
        margin: 16px;
        background-color: rgba(255, 255, 255, 1);

        #user-name {
            margin-top: 40px;
            font-weight: 800;
            font-size: 24px;
            line-height: 28.06px;
            width: 187px;
            height: 28px;
            top: 234px;
            left: 15px;
            color: rgb(0, 0, 0, 1);
            background-color: rgba(255, 255, 255, 1);

        }

        #about {
            font-weight: 400;
            font-size: 14px;
            line-height: 17.36px;
            color: rgba(0, 0, 0, 1);
            left: 17px;
            top: 272px;
            background-color: rgba(255, 255, 255, 1);
            
        }
    }

    .post-wrapper {
        margin: 16px;
        background-color: rgba(255, 255, 255, 1);

        
        p{
            margin-bottom: 16px;
            width: 76px;
            height: 21px;
            top: 330px;
            font-weight: 600;
            font-size: 18px;
            line-height: 21.04px;
            color: rgba(0, 0, 0, 1);
            /* background-color: rgba(255, 255, 255, 1); */

        }

        .posts {
            width: 330px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            background-color: rgba(255, 255, 255, 1);

            
            .post {
            
                background-color: rgba(255, 255, 255, 1);
                position: relative;                  

                img{
                    width: 158px;
                    height: 220px;
                    overflow: hidden;
                    border-radius: 12px;
                    box-sizing: border-box;                
                }

                .title {
                    top: 72%;
                    left: 12px;
                    position: absolute;
                    width: 127px;
                    height: 17px;

                    p {
                        width: 100%;
                        font-weight: 600;
                        font-size: 13.2px;
                        line-height: 17.36px;
                        color: rgba(255, 255, 255, 1);
                    }
                }

                .like {
                    width: 32px;
                    height: 16px;
                    top: 82%;
                    left: 12px;
                    position: absolute;
                    display: flex;
                    gap: 2px;
                    justify-content: center;
                    align-items: center;
                    z-index: 1000;

                    
                    svg {
                        width: 16px;
                        height: 16px;
                        color: rgba(255, 255, 255, 1);
                        opacity: 60%;
                        cursor: pointer;
                    }
                    
                    span {
                        width:14px;
                        height: 15px;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 14.88px;
                        color: rgba(255, 255, 255, 1);
                        opacity: 60%;
                    }
                }

                .like.liked {
                    svg {
                        color: red;
                    }
                }
            }
        }
    }

}


.edit-wrap {
    margin: 16px;

    .new-name {
        width: 328px;
        height: 47.5px;
        top: 222px;
     }

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 17.36px;
    }

    input {
        width: 328px;
        font-size: 14px;
        line-height: 17.36px;
        font-weight: 600;
        padding: 5px;
        border: none;
        outline: none;
        border-bottom: 0.4px solid rgba(0, 0, 0, 1);            
    }

    .my-bio {
        p {
            padding: 15px 0 0 0;
        }
        textarea {
            width: 328px;
            font-size: 14px;
            line-height: 17.36px;
            font-weight: 600;
            padding: 5px;
            border: none;
            outline: none;
            border-bottom: 0.4px solid rgba(0, 0, 0, 1); 
        }
    }

    .save{
        width: 328px;
        height: 48px;
        position: absolute;
        top: 710px;
        padding: 5px 16px;
        background-color: black;
        color: rgba(255, 255, 255, 1);
        font-weight: 700;
        font-size: 16px;
        line-height: 18.7px;
        border-radius: 36px;
        cursor: pointer;
    }    
}

.banner .edit-icon {
    width: 27px;
    height: 27px;
    position: absolute;
    top: 130px;
    left: 317px;
    background-color: rgba(244, 244, 244, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    svg {
        opacity: 60%;
    }

}

.dp.edit-icon {
    width: 33px;
    height: 33px;
    top: 168px;
    left: 100px;
}